<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- 로그 파일 저장 위치 -->
	<springProperty name="LOG_PATH" source="default.log.path"/>

	<!-- 로그백을 통해서 일일 로그 파일로 남긴다. -->
	<appender name="DAILY_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/applicatoin.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
 
		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
		</encoder>
	</appender>
 
	<logger name="org.springframework.web" level="INFO"/>
<!--	<logger name="org.thymeleaf" level="INFO"/>-->
	<logger name="org.hibernate.SQL" level="INFO"/>
	<logger name="org.quartz.core" level="INFO"/>
<!--	<logger name="org.h2.server.web" level="INFO"/>-->

	<!-- 애플리케이션에 적용될 로그 레벨 -->
	<root level="INFO">
		<appender-ref ref="DAILY_LOG_FILE"/>
	</root>
</configuration>